{% extends 'bootstrap/base.html' %}

{% block head %}
    {{super()}}

    <title>
        {% block title %} Flask Application Web | {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/tyles.css')}}">
{% endblock %}

{% block body %}
    {% block navbar %}
        {%include 'navbar.html' %}
    {% endblock %}
    
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
    {%endfor %}
    {% block content %}
    {% endblock %}

    {%block scripts %}
        {{super()}}
    {% endblock %}  

{% endblock %}
